{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load materializecss %}


<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
          <!-- Bootstrap CSS -->

          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <link rel="stylesheet" href="{% static 'css/footer.css' %}" >
          <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" >
          <link rel="stylesheet" href="{% static 'plugins/L.Control.Pan.css' %}">
          <link rel="stylesheet" href="{% static 'plugins/L.Control.Zoomslider.css' %}">
          <link rel="stylesheet" href="{% static 'plugins/L.Control.MousePosition.css' %}">
          <link rel="stylesheet" href="{% static 'plugins/L.Control.Sidebar.css' %}">
          <link rel="stylesheet" href="{% static 'plugins/Leaflet.PolylineMeasure.css' %}">
          <link rel="stylesheet" href="{% static 'plugins/easy-button.css' %}">
          <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
          <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
      
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{% static 'front.css' %}">
      
          <script src="{% static 'leaflet-src.js' %}" ></script>
          <!-- <script src="src/jquery-3.2.0.min.js"></script> -->
          <script src="{% static 'plugins/L.Control.Pan.js' %}" ></script>
          <script src="{% static 'plugins/L.Control.Zoomslider.js' %}" ></script>
          <script src="{% static 'plugins/L.Control.MousePosition.js' %}"></script>
          <script src="{% static 'plugins/L.Control.Sidebar.js' %}"></script>
          <script src="{% static 'plugins/Leaflet.PolylineMeasure.js' %}"></script>
          <script src="{% static 'plugins/easy-button.js' %}"></script>
          <script src="{% static 'plugins/leaflet-providers.js' %}"></script>
          <script src="{% static 'plugins/leaflet-opencage/src/js/L.Control.OpenCageSearch.js' %}"></script>
          <!-- <script src="{% static 'app.js' %}"></script> -->
          <!-- <link rel="stylesheet" type="leaflet.wms.js" href="{% static 'css/component.css' %}"  /> -->
          <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
          <link rel= 'stylesheet' href="{% static 'css/component.css' %}">
          <script src="{% static 'plugins/leaflet.ajax.min.js' %}" ></script>
          <script src="{% static 'js/modernizr-custom.js' %}" ></script>
          <script src="{% static 'js/leaflet.wms.js' %}" ></script>
      
          <script src="{% static 'js/classie.js' %}"></script>
          <!-- <script src="js/dummydata.js"></script> -->
          <!-- <script src="src/js/main.js"></script> -->
          <script src="{% static 'js/main.js' %}"></script>
          <script src="{% static 'js/myscript.js' %}"></script>
      
      
          <!-- scripts for spinner -->
      
          <script src="{% static 'spin/spin.js'%}" ></script>
          <script src="{% static 'js/leaflet.spin.min.js' %}"></script>
      
          <!-- font-awesome -->
          <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
          
          
          <!-- script for leaflet font awesome-->
          <script src = "{% static 'js/leaflet.awesome-markers.js' %}"></script>
          <link rel="stylesheet" href="{% static 'css/leaflet.awesome-markers.css' %}">
          
          
          
          <!-- leaflet-messagebox-->
          <script src = "{% static 'leaflet-messagebox.js' %}"></script>
          <link rel="stylesheet" href="{% static 'leaflet-messagebox.css' %}">
          
          <!-- leaflet-measure-->
          <script src = "{% static 'leaflet_measure/leaflet.measure.js' %}"></script>
          <link rel="stylesheet" href="{% static 'leaflet_measure/leaflet.measure.css' %}">
          
          
          <!-- leaflet-search -->
          <script src = "{% static 'leaflet-search/leaflet-search.src.js' %}"></script>
          <link rel="stylesheet" href="{% static 'leaflet-search/leaflet-search.src.css' %}">
          
          
          <!-- leaflet minimap -->
          <script src = "{% static 'leaflet-minimap/Control.MiniMap.min.js' %}"></script>
          <link rel="stylesheet" href="{% static 'leaflet-minimap/Control.MiniMap.min.css' %}">
          
          
          
          <!-- leaflet lagend graphic -->
          
          <script src = "{% static 'leaflet-legend-graphics/leaflet.wmslegend.js' %}"></script>
          <link rel="stylesheet" href="{% static 'leaflet-legend-graphics/leaflet.wmslegend.css' %}">
          
          <!-- <link rel="stylesheet" href=""/>
          <script src="leaflet-legend-graphics/leaflet.wmslegend.js"></script> -->

          <!--Materialzecss -->
          {% block css %}
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" />
          {% endblock css %}

        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
                Swachh Worli Koliwada
              
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
        <!-- <link href="icon" type = "image/png" href = "{% static 'images/trash-can-23640_960_720.png' %}"/> -->
        <link href="{% static 'css/main.css'%}" rel="stylesheet">
        

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
            
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" style="overflow-y: hidden;" >
      {% block javascript %}
      <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/js/materialize.min.js"
       integrity="sha256-SrBfGi+Zp2LhAvy9M1bWOCXztRU9Ztztxmu5BcYPcPE=" crossorigin="anonymous"></script>

       <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.datepicker');
          //var instances = M.Datepicker.init(elems, options);
          var instances = M.Datepicker.init(elems);
          // var elems1 = document.querySelectorAll('.timepicker');
          // var instances1 = M.Timepicker.init(elems1, options);
        });
      
        // Or with jQuery
      
        //$(document).ready(function(){
          //$('.datepicker').datepicker();
       // });
      $(document).ready(function(){
          
          // Initialize materialize data picker
          $('.datepicker').datepicker();
          // $('.timepicker').timepicker();
          $('select').formSelect();
         
        
        });
       
      </script> -->
      {% endblock javascript %}
   

<!--      
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarColor01"> 
             <ul class="navbar-nav mr-auto"> 
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'swk_map'%}">Maps </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AboutUs'%}">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% slugurl 'contact' %}">Contact Us</a>
                </li>
               
              
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'adminlogin' %}">Login </a>
                  
                </li>
              </ul> -->
              <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
              </form> 
              <ul class="nav-item  nav-tabs">
                 <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a> 
                <div class="dropdown-menu">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'swk_map'%}">Maps </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'adminlogin'%}">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AboutUs'%}">About Us</a>
                </li>                
                <li class="nav-item">
                  <a class="nav-link" href="{% slugurl 'contact' %}">Contact Us</a>
                </li>
              </div>
              </ul>

            </div>
          </nav>
        -->
    

        {% wagtailuserbar %}
        <div class="container">
          {% block header %}
          <h2 class="text-center" ><b>          Swachh Worli Koliwada <br>
            A Project by Stree Mukti Sanghatana, sponsored by IDFC First Bank 
          </b></h2>
        {% endblock %}
        </div>
        
         <div class="topnav">
        
          
        {% block content %} {% endblock %}  
       
        <!-- {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/DemoSite.js' %}"></script> -->

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        <div class="footer">
          {% block footer %}developed by RESPIRER LIVING SCIENCES PRIVATE LIMITED  {% endblock %}
        </div>
    </body>
</html>
