{% extends 'new.html' %} {% block content %}
<div style=" margin:130px ;">

<h1>FREQUENTLY ASKED QUESTIONS</h1><br>
<h3>1. Why should we segregate the Waste?</h3>
<h4><p><b>Ans:</b>Segregating waste helps to ensure better public health.
    Effective segregation of wastes effectively also leads to circular economy and as a
    result less waste goes to landfill. This makes it cheaper and better for people and
    the environment.</p></h4>
<br>
<h3>2. What do you do with the segregated Waste?</h3>
<h4><p><b>Ans:</b>Presently we have a fully operational process of recycling Organic Wet Waste.
    We are now looking forward to synergize with other organizations that specifically
    deal with recycling of a particular kind of material. To make such expansions, we will
    need to increase each of our resources. Support in any form to make this happen
    would be highly appreciated.</p></h4>
<br>
<h3>3. Even if I do the segregation, most of the people around throw their waste in the
    sea/kiosk/dumping bin.</h3>
<h4><p><b>Ans:</b>From almost zero segregation the community has co-operated in a manner
    resulting into providing of segregated wet waste of almost 6000 kg a week and dry
    waste of almost 5000 kg a week.</p>
<p>Although this is estimated to be only 1/10 th of what it could be, with awareness
    campaigns happening across the sections, it is not far away when, with continued
    support and co-operation of the community, we would make Worli Koliwada a
    proud Zero Waste Zone.</p></h4>
<br>
<h3>4. The houses are small. How can we segregate the waste without having to use
    more bins and space.</h3>
<h4><p><b>Ans:</b>For day to day use, you need only one bin per household.</p>
<p><b>Most Preferred Proposition:</b>You may put

    <br>&nbsp;&nbsp;(a) the Organic Wet Waste food items in the bin
<br>&nbsp;&nbsp;(b)keep a plastic bag to put the dry waste and e-waste in.
<br>&nbsp;&nbsp;(c)Keep another plastic bag to put the hazardous waste like sanitary napkins,
    diapers, needles and syringes -<br>&nbsp;&nbsp; IT WOULD DO BEST IF THERE COULD ALSO BE
    SOME MARK OF CAUTION ON THIS BAG.</p>

<p><b>Second Preferred Proposition:</b>You may put
<br>&nbsp;&nbsp;(a)the Dry Waste in the bin and
<br>&nbsp;&nbsp;(b)keep a plastic bag to put the Organic Wet Waste(In this case our task force is
    further required to empty the plastic bag into the wet waste bin and put the
    plastic bag separately in the dry waste bin)
<br>&nbsp;&nbsp;(c)Keep another plastic bag to put the hazardous waste like sanitary napkins,
    diapers, needles and syringes - <br>&nbsp;&nbsp;IT WOULD DO BEST IF THERE COULD ALSO BE
    SOME MARK OF CAUTION</p>

</h4>


</h4>
<br>
<h3>5. The waste from non-vegetarian food cannot be kept at home for longer duration.
    We are therefore left with no choice but to throw it in the sea/dump/kiosk.</h3>
<h4><p><b>Ans:</b>We are considering to make an additional round post afternoon when most of
    the houses can give away the waste from that day’s meals.</p></h4>
<br>
<h3>6. We do not get to hear the whistle when the Task Force comes to collect the
    segregated waste.</h3>
<h4><p><b>Ans:</b>We are working on creating a feedback platform on the website where if you
    should make a complaint, such issues will be resolved within 24 hours. We are also
    considering to provide an automated hotline number for such complaints. In the
    meanwhile, you can make the complaint by personally visiting the container office
    near the Sea Corner Restaurant.</p></h4>
<br>





</div>
{% endblock %}