{% extends 'base.html' %}
{% load static %}

<style>

    .select {
        background:rgb(255,255,255);
    }
    .select.highlight {
        background:rgb(26, 255, 0);
    }
  </style>
<div id="mapdiv" class="col-md-12"></div>

<script>
var mymap;

var source = L.wms.source(
      "https://makerghat.urbansciences.in/geoserver/wms",
      {
          "format": "image/png",
          "transparent": "true"
      }        
  );

  mymap = L.map('mapdiv', {
    // center:[19.7515,75.7139],
    center:[19.7515,75.7139],
    zoom:7, zoomControl:false,
    attributionControl:false,
    messagebox: true,
    contextmenu: true,
    measureControl: false
  });
  mymap.messagebox.options.timeout = 5000;
  mymap.messagebox.setPosition("bottomright");
  lyrOSM = L.tileLayer.provider('OpenStreetMap.Mapnik');
  lyrOSM2 = L.tileLayer.provider('OpenStreetMap.Mapnik');
  lyrImagery = L.tileLayer.provider('Esri.WorldImagery');
  mymap.addLayer(lyrOSM);
  var miniMap = new L.Control.MiniMap(lyrOSM2, { toggleDisplay: true }).addTo(mymap);
//  var miniMap = new L.Control.MiniMap(lyrOSM).addTo(mymap);

function round(value, precision) {
    var multiplier = Math.pow(10, precision || 0);
    return Math.round(value * multiplier) / multiplier;
}


function copyToClipboard(text) {
    var dummy = document.createElement("textarea");
    // dummy.style.display = 'none'
    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand("copy");
    document.body.removeChild(dummy);
}

mymap.on('contextmenu',function(e){
  copyToClipboard(e.latlng.lat+","+e.latlng.lng);
  mymap.messagebox.show("<h6>Latitude:<b>"+round(e.latlng.lat,4)+"</b> Longitude:<b>"+round(e.latlng.lng,4)+"</b> copied to clipboard</h6>");
});



$('.select').click(function () {
  $(this).toggleClass('highlight')
})
</script>



   
{% block content%}
{% endblock %}

<script>
 
 
 
  $("#closebutton").click(function(){
  ctlSidebar.toggle();
});
 
 
 
  objBasemaps = {
      "Open Street Maps": lyrOSM,
      "Imagery":lyrImagery
  };
 
  objOverlays = {
  };
 
  // var ctlLayers = L.control.layers(objBasemaps, objOverlays).addTo(mymap);
  var ctlSidebar = L.control.sidebar('side-bar').addTo(mymap);
  var ctlPan = L.control.pan().addTo(mymap);

  var ctlEasybutton = L.easyButton('fa fa fa-bars', function(){
      ctlSidebar.toggle();
  }).addTo(mymap);
  ctlSidebar.show();

  var ctlZoomslider = L.control.zoomslider({position:'topright'}).addTo(mymap);
 
  ctlAttribute = L.control.attribution({position:'bottomleft'}).addTo(mymap);
  ctlAttribute.addAttribution('&copy; <a href="http://www.makerghat.org">makerGHAT</a>');

     
</script>
   